@import 'base';

body, html {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.flex-container {
  display: flex;
  width: 90%;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #ebf0e5;

  @media only screen and (min-width: 600px) {
    width: 50%;
  }

  @media only screen and (min-width: 788px) {
    width: 45%;
  }
}


form {
  padding: 5px;
}

form label {
  text-align: left;
  margin-bottom: .5em;
}

form input {
  width: 60%;
  text-align: center;
  padding: .5em;
  margin: .25em;
  line-height: 3em;
  border: 2px solid white;
  border-radius: 20px;
  background:#f19f5d;
  outline: none;
}

.arrows {
  display: flex;
  margin-top: 1em;
  width: 45%;
  justify-content: space-evenly;
}

/* .buttons button {
  padding: .75em;
  margin-top: 1em;
  align-self: flex-end;
  background-color: green;
  color: white;
  font-size: .9em;
  font-weight: bold;
  border-radius: 20px;
} */
