@import 'base';

body, html, h4, p {
  margin: 0;
}

h1 {
  text-align: center;
}

h4 {
  width: 50%;
  background-color: #cdd4cf;
  font-weight: bold;
  color: white;
  padding: .7em;
}

p {
  background-color: white;
  padding: .7em;
  width: 50%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.flex-container {
  display: flex;
  width: 85%;
  height: 85%;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #ebf0e5;

  @include medium {
    width: 70%;
    height: 70%;
  }

  @include large {
    width: 45%;
    height: 45%;
  }
}

form {
  padding: 5px;
}

form label {
  text-align: left;
  margin-bottom: .5em;
}

form input {
  width: 60%;
  text-align: center;
  font-size: 1em;
  padding: .25em;
  margin: .25em;
  line-height: 2.5em;
  border: 2px solid white;
  border-radius: 20px;
  background:white;
  outline: none;
}

.arrows {
  display: flex;
  margin-top: 1em;
  width: 45%;
  justify-content: space-evenly;
}

/* .buttons button {
  padding: .75em;
  margin-top: 1em;
  align-self: flex-end;
  background-color: green;
  color: white;
  font-size: .9em;
  font-weight: bold;
  border-radius: 20px;
} */
