@import 'base';

body {
  margin: 0;
}

html, h4, p {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

h2 {
  margin-top: 0;
  margin-bottom: 2.5em;
  color: white;
}

h4 {
  width: 50%;
  background-color: #bb8d57;
  font-weight: bold;
  color: white;
  padding: .7em;
}

p {
  padding: .7em;
  width: 50%;
}

.container {
  display: flex;
  background-image:url('../images/heather-shevlin-WqcRpNq_220-unsplash.jpg');
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.flex-container {
  display: flex;
  width: 75%;
  height: 75%;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #b3cdd4d3;

  @include medium {
    width: 70%;
    height: 70%;
  }

  @include large {
    width: 45%;
    height: 45%;
  }
}

.flex-container p {
  padding: 1.3em .7em;
  background-color: rgba(236, 214, 85, 0.719);
}

form {
  padding: 5px;
  background-image: linear-gradient(170deg, rgba(148, 24, 24, 0.986), rgba(235, 183, 42, 0.644), rgba(243, 212, 110, 0.644));
}

form label {
  text-align: left;
  font-weight: bold;
  margin-bottom: .25em;
  letter-spacing: .2em;
}

form input {
  width: 60%;
  text-align: center;
  font-size: 1em;
  padding: .25em;
  margin: .25em;
  line-height: 2.5em;
  border: 2px solid white;
  background:white;
  outline: none;
}

button {
  padding: .8em 1.3em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  letter-spacing: .2em;
  border: 1px #28f3c7 solid;
  background-color: #28f3c7;
  box-shadow: 0 1px 7px #c9c7c7;
}

.submit {
  display: flex;
  flex-direction: column;
  height: 6em;
  align-items: center;justify-content: space-between;

  @include medium {
    flex-direction: row;
    margin-top: 2em;
    width: 60%;
    justify-content: space-between;
    align-items: flex-start;
  }

  @include large {
    flex-direction: row;
    margin-top: 2em;
    width: 60%;
    justify-content: space-between;
    align-items: flex-start;
  }
}

span {
  font-size: .85em;
  border-bottom: 1px solid;
  padding-bottom: 2px;

  @include medium {
    font-size: 1em;
  }
}

.continue {
  width: 60%;
  text-align: center;

  @include medium {
    text-align: right;
  }

  @include large {
    text-align: right;
  }

}


